{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'pw_generator/styles.css' %}">
    <title>Your new password</title>
</head>
<body>
    <h1>Your new password is:</h1>
    <strong>{{ pw }}</strong>
    <br>
    <a href="{% url 'create' %}" class="button">Create new password</a>  
</body>
</html>